body{
    background-image: url(https://assets1.retailleader.com/rl/inline-images/grocery33.jpg); 
       background-repeat: no-repeat;
       background-size: cover;
     
     background-position: center;
     background-attachment: fixed;

   
   }






.groc {

margin-top: 60px;
  
    color: ghostwhite;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;

    text-shadow: 0 0 10px rgb(0, 114, 207),
    0 2px 0 #153088,
    0 3px 0 rgb(35, 29, 121),
    0 4px 0 #151794,
    0 5px 0 rgb(32, 116, 43),
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 0 20px rgb(49, 138, 27),
    0 0 30px rgb(23, 133, 67),
    0 0 40px #338aee,
    0 0 70px #00a2ff,
    0 0 80px #0099ff,
    0 0 100px #00ccff,
    0 0 150px #00f7ff;
  
    
 
}





.limiter {
    width: 100%;
    margin: 0 auto;
  }
  


  #btn {
     margin-left: 500px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    background-color: #27ae60;
    border: none;
    border-radius:5px;
    box-shadow: 0 5px #95a5a6;
  }
  
  #btn:hover{
    background-color: #2e80cc;
  }
  
  #btn:active {
    background-color: #2ecc43;
    box-shadow: 0 5px #27704942;
    transform: translateY(3px);
  }
  
 .table
 {   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     background-color: rgb(67, 144, 216);
    
     padding-top: 20px;
     margin-top: 50px;
     box-shadow: 0px 0px 5px 3px rgb(0, 0, 0);
 }


 #details
 {
     background-color: rgb(238, 237, 237);
 }

